<!doctype html>
<html lang=" ">
  <head>
      <link rel="stylesheet" href="sty.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Image to Text</title>
  </head>
  <body class="text-center"><br><br>
    <header>
       <h1> Upload Image </h1>
    </header>

      <form method="POST" enctype='multipart/form-data' id="choosefile">
          <input type='file' class='btn btn-dark hero' name='photo'><br><br>
        <input id='input' type='text' class='form-control' placeholder='enter image name..' name='img-name'><br>
        <input class='btn btn-dark' type='submit'>
      </form>
       <style>

          #input{
          margin: auto;
          width: auto;
          }

    </style>

  <div class="d-flex flex-column justify-content-center w-100 h-100">

	<div class="d-flex flex-column justify-content-center align-items-center">


	</div>
</div>

  </body>

</html>